<a href="https://colab.research.google.com/github/tkd8973/DataAnalysis_SSW/blob/main/tkd8973/Pandas_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

## Series

* ì‹œê³„ì—´ê³¼ í‘œë¡œ ë‚˜íƒ€ë‚´ê¸° ìœ„í•œ Moduleë¡œ, ì‹œë¦¬ì¦ˆ(Series), ë°ì´í„°í”„ë ˆì„(Data Frame) í´ë˜ìŠ¤ë¥¼ ì œê³µ
* ì‹œë¦¬ì¦ˆ(Series)ëŠ” 1ì°¨ì› ë°°ì—´ê³¼ ë¹„ìŠ·í•˜ê³ , ê° ë°ì´í„°ì— Labeling ê°€ëŠ¥
- Seriesì˜ ë°ì´í„°ì™€ indexì˜ ê¸¸ì´ëŠ” ê°™ì•„ì•¼ í•˜ê³ , indexë¥¼ Label ì´ë¼ê³ ë„ í•œë‹¤ Labelì—ëŠ” ë¬¸ìì—´, ìˆ«ì, ë“± ëª¨ë‘ ê°€ëŠ¥

In [ ]:
import pandas as pd

data = [2002,4102,4200,7000]
index = ['ì„œìš¸','ëŒ€êµ¬','ëŒ€ì „','ì¸í„°ë„·']

s=pd.Series(data,index=index)
s

ì„œìš¸     2002
ëŒ€êµ¬     4102
ëŒ€ì „     4200
ì¸í„°ë„·    7000
dtype: int64

- Seriesì˜ ì¸ë±ìŠ¤ëŠ” Series.index ë¡œ ì ‘ê·¼ ê°€ëŠ¥
- Seriesì˜ valueëŠ” Series.values ë¡œ ì ‘ê·¼ ê°€ëŠ¥

In [ ]:
s.index, s.values

SeriesëŠ” ë„˜íŒŒì´ ë°°ì—´ê³¼ ê°™ì´ ë²¡í„°í™” ì—°ì‚°ì´ ê°€ëŠ¥í•˜ë©° ì¸ë±ìŠ¤ëŠ” ë³€í™”í•˜ì§€ ì•ŠìŒ

In [ ]:
s/1000

### Indexing & **Slicing**

In [ ]:
print(s[1])
print('------------')
print(s['ëŒ€ì „'])
print('------------')
print(s['ì„œìš¸':'ëŒ€ì „'])    # ëŒ€ì „ í¬í•¨
print('------------')
print(s[[0,3,1]])
print('------------')
print(s[s>5000])

- Numpyì—ì„œì™€ ê°™ì€ ë°©ë²•ê³¼, Labelì„ ì´ìš©í•œ ì¸ë±ì‹±ë„ ê°€ëŠ¥

In [ ]:
s[0 : 3] # index 2 ê¹Œì§€ 
s['ì„œìš¸':'ì¸í„°ë„·']  # ì¸í„°ë„·ì„ í¬í•¨

### Seriesì™€ Dictionary

- Labelë¡œ indexingì´ ê°€ëŠ¥í•˜ê¸° ë•Œë¬¸ì— ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•ê³¼ ìœ ì‚¬í•˜ë‹¤. ë”°ë¼ì„œ in, items ë“±ì˜ forë£¨í”„ ê°€ëŠ¥

In [ ]:
print('ì„œìš¸' in s)
print('ì²œì•ˆ' not in s)

for k,v in s.items():
    print("{k}={v}".format(k=k,v=v))
    print(f'{k}={v}')
    print('%s=%d' %(k,v))

True
True
ì„œìš¸=2002
ì„œìš¸=2002
ì„œìš¸=2002
ëŒ€êµ¬=4102
ëŒ€êµ¬=4102
ëŒ€êµ¬=4102
ëŒ€ì „=4200
ëŒ€ì „=4200
ëŒ€ì „=4200
ì¸í„°ë„·=7000
ì¸í„°ë„·=7000
ì¸í„°ë„·=7000

- SeriesëŠ” Dictionry ìë£Œí˜•ìœ¼ë¡œ ìƒì„±ì´ ê°€ëŠ¥

In [ ]:
s2 = pd.Series({'ì„œìš¸' : 9412534,
               'ë¶€ì‚°' : 1239592,
               'ëŒ€ì „' : 8423293,
               'ëŒ€êµ¬' : 1235992})
s2

ì„œìš¸    9412534
ë¶€ì‚°    1239592
ëŒ€ì „    8423293
ëŒ€êµ¬    1235992
dtype: int64

### ì¸ë±ìŠ¤ ê¸°ë°˜ ì—°ì‚°

- ë‘ ì‹œë¦¬ì¦ˆë¥¼ ì—°ì‚°í•  ê²½ìš°, ë™ì¼í•œ ì¸ë±ìŠ¤(Label)ë¥¼ ê°€ì§„ ê³³ ì—ì„œë§Œ ì§„í–‰

In [ ]:
ds = s2-s
ds

ëŒ€êµ¬     1231890.0
ëŒ€ì „     8419093.0
ë¶€ì‚°           NaN
ì„œìš¸     9410532.0
ì¸í„°ë„·          NaN
dtype: float64

- ì‹œë¦¬ì¦ˆì—ì„œ Nanì„ ì•Œì•„ë³´ê³  ì‹¶ìœ¼ë©´ ì•„ë˜ ëª…ë ¹ì–´ë¥¼ ì‚¬ìš©

In [ ]:
print(ds.notnull())
print('------------')
print(ds.isnull())
print('------------')
print(ds.notna())

- ì¦ê°€ìœ¨ êµ¬í•˜ê¸°
- (s1-s2)/s2 * 100

In [ ]:
rs = (s2-s)/s * 100
rs.dropna()
rs

ëŒ€êµ¬      30031.448074
ëŒ€ì „     200454.595238
ë¶€ì‚°               NaN
ì„œìš¸     470056.543457
ì¸í„°ë„·              NaN
dtype: float64

### ë°ì´í„°ì˜ ê°±ì‹ , ì¶”ê°€ ì‚­ì œ

- ì¸ë±ì‹±ìœ¼ë¡œ ë”•ì…”ë„ˆë¦¬ì²˜ëŸ¼ ê°±ì‹  í˜¹ì€ ì—…ë°ì´íŠ¸
- ì‚­ì œëŠ” del Series['Label']

In [ ]:
rs['ë¶€ì‚°'] = 1099
rs

ëŒ€êµ¬      30031.448074
ëŒ€ì „     200454.595238
ë¶€ì‚°       1099.000000
ì„œìš¸     470056.543457
ì¸í„°ë„·              NaN
dtype: float64

### ğŸ¦† ì—°ìŠµë¬¸ì œ 1
1. ì„ì˜ë¡œ ë‘ ê°œì˜ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ë§Œë“ ë‹¤. ëª¨ë‘ ë¬¸ìì—´ ì¸ë±ìŠ¤ë¥¼ ê°€ì ¸ì•¼ í•˜ë©° ë‘ ì‹œë¦¬ì¦ˆì— ê³µí†µì ìœ¼ë¡œ í¬í•¨ë˜ì§€ ì•ŠëŠ” ë¼ë²¨ì´ ìˆì–´ì•¼ í•œë‹¤.
1. ìœ„ì—ì„œ ë§Œë“  ë‘ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ì´ìš©í•˜ì—¬ ì‚¬ì¹™ ì—°ì‚°ì„ í•œë‹¤.

In [ ]:
a = pd.Series({'PD3ê¸°':20,
               'PD4ê¸°':23,
               'PD5ê¸°':17,
               'PD6ê¸°':21})

b= pd.Series({'PD3ê¸°' : 14,
              '4ê¸° ì´ìˆ˜' : 17,
              '5ê¸° ì´ìˆ˜' : 15,
              'PD6ê¸°' : 19})

print((a+b).dropna())
print(((b/a)*100).dropna())

PD3ê¸°    34.0
PD6ê¸°    40.0
dtype: float64
PD3ê¸°    70.00000
PD6ê¸°    90.47619
dtype: float64

## DataFrame

1. í•˜ë‚˜ì˜ ì—´ì´ ë˜ëŠ” ë°ì´í„°ì˜ ë¦¬ìŠ¤íŠ¸ë‚˜ ì¼ì°¨ì› ë°°ì—´ ì¤€ë¹„
2. ê°ê°ì˜ ì—´ì— Labelì„ ê°€ì§€ëŠ” key ìƒì„±
3. DataFrameìƒì„±ì‹œ ì—´ë°©í–¥ : columns, í–‰ë°©í–¥ : index

 ``` DataFrame(values, columns=columns, index=index) ```

 ``` DataFrame(values, columns=columns, index=index) ```

In [ ]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "ì§€ì—­": ["ìˆ˜ë„ê¶Œ", "ê²½ìƒê¶Œ", "ìˆ˜ë„ê¶Œ", "ê²½ìƒê¶Œ"],
    "2010-2015 ì¦ê°€ìœ¨": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["ì§€ì—­", "2015", "2010", "2005", "2000", "2010-2015 ì¦ê°€ìœ¨"]
index = ["ì„œìš¸", "ë¶€ì‚°", "ì¸ì²œ", "ëŒ€êµ¬"]

df = pd.DataFrame(data,index=index,columns=columns)
df

     ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972         0.0283
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437         0.0163
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338         0.0982
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990         0.0141

- ë°ì´í„°í”„ë ˆì„ì€ ê° ì—´(Column)ë§ˆë‹¤ ìë£Œí˜•ì´ ë‹¤ë¥¼ ìˆ˜ ìˆìŒ
---


## DataFrame Indexing
- ë°ì´í„°ì— ì ‘ê·¼ : ``` values ```
- ì—´ë°©í–¥ ì¸ë±ìŠ¤ : ```columns```
- í–‰ë°©í–¥ ì¸ë±ìŠ¤ : ```index```
- ì—´ë°©í–¥ì˜ ì´ë¦„ ì„¤ì • : ```columns.name```
- í–‰ë°©í–¥ì˜ ì´ë¦„ ì„¤ì •: ```index.name``` 
---

In [ ]:
df.index.name='ë„ì‹œ'
df.columns.name='íŠ¹ì„±'
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972         0.0283
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437         0.0163
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338         0.0982
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990         0.0141

### ğŸ¦† ì—°ìŠµë¬¸ì œ 2
ë‹¤ìŒ ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” ì„ì˜ì˜ ë°ì´í„°í”„ë ˆì„ì„ í•˜ë‚˜ ë§Œë“ ë‹¤.

1. ì—´ì˜ ê°¯ìˆ˜ì™€ í–‰ì˜ ê°¯ìˆ˜ê°€ ê°ê° 5ê°œ ì´ìƒì´ì–´ì•¼ í•œë‹¤.
1. ì—´ì—ëŠ” ì •ìˆ˜, ë¬¸ìì—´, ì‹¤ìˆ˜ ìë£Œí˜• ë°ì´í„°ê°€ ê°ê° 1ê°œ ì´ìƒì”© í¬í•¨ë˜ì–´ ìˆì–´ì•¼ í•œë‹¤.

In [ ]:
import numpy as np

data = lambda x:[np.round(np.random.randn(1),5),\
                 np.random.choice(['ã„±','ã„´','ã„·','ã„¹','ã…']),\
                 np.random.randint(5),\
                 np.random.choice(['True',False]),
                 np.random.choice(['s','w'])]

a = pd.DataFrame([data(5) for i in range(5)],index=['a','b','c','d','e'],columns=['a','b','c','d','e'])
a

            a  b  c      d  e
a  [-0.16302]  ã„´  4  False  w
b   [0.84334]  ã„·  3   True  w
c   [0.40802]  ã„±  1   True  w
d  [-0.74053]  ã…  4  False  s
e  [-1.02885]  ã…  1  False  s

## ë°ì´í„°ì˜ Update

- ì—´ ë‹¨ìœ„ë¡œ ë°ì´í„°ë¥¼ Update ê°€ëŠ¥ í•¨

In [ ]:
df

     ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972         0.0283
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437         0.0163
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338         0.0982
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990         0.0141

In [ ]:
df['2010-2015 ì¦ê°€ìœ¨'] *=100
df

In [ ]:
df['2005-2010 ì¦ê°€ìœ¨'] = ((df['2010']-df['2005'])/df['2005']*100).round(2)

df

     ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨  2005-2010 ì¦ê°€ìœ¨
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83          -1.34
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63          -3.40
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82           4.54
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990           1.41          -0.99

## ì—´ ì¸ë±ì‹±

- ì—´ Label = key, ì—´ Series = value
- ì—´ì˜ Labelë¡œ ì¸ë±ì‹± ê°€ëŠ¥

In [118]:
df['2015'] , df['ì§€ì—­']['ì¸ì²œ']

(ì„œìš¸    9904312
 ë¶€ì‚°    3448737
 ì¸ì²œ    2890451
 ëŒ€êµ¬    2466052
 Name: 2015, dtype: int64, 'ìˆ˜ë„ê¶Œ')

- Labelì— ë¬¸ìì—´ì´ ë¶€ì—¬ë˜ì–´ ìˆë‹¤ë©´ ì •ìˆ˜Indexê°€ ë¶ˆê°€ëŠ¥ í•˜ë‹¤
- Labelì´ ì›ë˜ ì •ìˆ˜ ì—´ ì¸ë±ìŠ¤ë¥¼ ê°€ì§€ë©´ ì •ìˆ˜Index ê°€ëŠ¥

In [122]:
df[1]
df2 = pd.DataFrame(np.arange(12).reshape(3,-1))

df2[1]

KeyError: ignored

## í–‰ ì¸ë±ì‹±

- í–‰ ì¸ë±ì‹±ì„ í•˜ë ¤ë©´ ìŠ¬ë¼ì´ì‹± ì‚¬ìš©
- Labelì´ ë¬¸ìì—´ ì´ë¼ë„ ê°€ëŠ¥

In [124]:
print(df[:1])
print(df[1:2])
print(df[2:3])

     ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨  2005-2010 ì¦ê°€ìœ¨
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83          -1.34
     ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨  2005-2010 ì¦ê°€ìœ¨
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63           -3.4
     ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨  2005-2010 ì¦ê°€ìœ¨
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82           4.54

In [127]:
df['ì„œìš¸':'ëŒ€êµ¬'] == df[:4]

      ì§€ì—­  2015  2010  2005  2000  2010-2015 ì¦ê°€ìœ¨  2005-2010 ì¦ê°€ìœ¨
ì„œìš¸  True  True  True  True  True           True           True
ë¶€ì‚°  True  True  True  True  True           True           True
ì¸ì²œ  True  True  True  True  True           True           True
ëŒ€êµ¬  True  True  True  True  True           True           True

## ê°œë³„ ë°ì´í„° ì¸ë±ì‹±

- dfì—ì„œ ì—´ ì¸ë±ì‹±ì„ í•˜ë©´ ì‹œë¦¬ì¦ˆ ë°˜í™˜, ì‹œë¦¬ì¦ˆë¥¼ í–‰ ë¼ë²¨ë¡œ ì¸ë±ì‹±í•˜ë©´ ê°œë³„ ë°ì´í„° ë°˜í™˜

In [130]:
df['2015'][0], df['2015']['ì„œìš¸']

(9904312, 9904312)

### ğŸ¦† ì—°ìŠµë¬¸ì œ 3
```
data = {
    "êµ­ì–´": [80, 90, 70, 30],
    "ì˜ì–´": [90, 70, 60, 40],
    "ìˆ˜í•™": [90, 60, 80, 70],
}
columns = ["êµ­ì–´", "ì˜ì–´", "ìˆ˜í•™"]
index = ["ì¶˜í–¥", "ëª½ë£¡", "í–¥ë‹¨", "ë°©ì"]
df = pd.DataFrame(data, index=index, columns=columns)
```
1. ëª¨ë“  í•™ìƒì˜ ìˆ˜í•™ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
1. ëª¨ë“  í•™ìƒì˜ êµ­ì–´ì™€ ì˜ì–´ ì ìˆ˜ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
1. ëª¨ë“  í•™ìƒì˜ ê° ê³¼ëª© í‰ê·  ì ìˆ˜ë¥¼ ìƒˆë¡œìš´ ì—´ë¡œ ì¶”ê°€í•œë‹¤.
1. ë°©ìì˜ ì˜ì–´ ì ìˆ˜ë¥¼ 80ì ìœ¼ë¡œ ìˆ˜ì •í•˜ê³  í‰ê·  ì ìˆ˜ë„ ë‹¤ì‹œ ê³„ì‚°í•œë‹¤.
1. ì¶˜í–¥ì˜ ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
1. í–¥ë‹¨ì˜ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.

In [168]:
data = {
    "êµ­ì–´": [80, 90, 70, 30],
    "ì˜ì–´": [90, 70, 60, 40],
    "ìˆ˜í•™": [90, 60, 80, 70],
}
columns = ["êµ­ì–´", "ì˜ì–´", "ìˆ˜í•™"]
index = ["ì¶˜í–¥", "ëª½ë£¡", "í–¥ë‹¨", "ë°©ì"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™
ì¶˜í–¥  80  90  90
ëª½ë£¡  90  70  60
í–¥ë‹¨  70  60  80
ë°©ì  30  40  70

In [152]:
# prob 1
ans1 = df['ìˆ˜í•™']
ans1

ì¶˜í–¥    90
ëª½ë£¡    60
í–¥ë‹¨    80
ë°©ì    70
Name: ìˆ˜í•™, dtype: int64

In [153]:
# prob 2
ans2 = df[['êµ­ì–´','ì˜ì–´']]
ans2

In [174]:
# prob 3
df['mean']=np.mean(df,axis=1)
df

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™       mean
ì¶˜í–¥  80  90  90  86.666667
ëª½ë£¡  90  70  60  73.333333
í–¥ë‹¨  70  60  80  70.000000
ë°©ì  30  40  70  46.666667

In [225]:
# porb 4
df['ì˜ì–´']['ë°©ì'] = 80
df['mean']=np.mean(df,axis=1)
df

<ipython-input-225-945a274c0eaa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ì˜ì–´']['ë°©ì'] = 80

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™       mean
ì¶˜í–¥  80  90  90  86.666667
ëª½ë£¡  90  70  60  73.333333
í–¥ë‹¨  70  60  80  70.000000
ë°©ì  30  80  70  59.999999

In [226]:
# prob 5
df[:1]

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™       mean
ì¶˜í–¥  80  90  90  86.666667

In [231]:
# prob 6
df.T['í–¥ë‹¨']

êµ­ì–´      70.0
ì˜ì–´      60.0
ìˆ˜í•™      80.0
mean    70.0
Name: í–¥ë‹¨, dtype: float64

## ë°ì´í„° ì…ì¶œë ¥

- CSV : Comma Seperate Value